{% extends 'layout.html'%}
{%load filters%}
{% block title %}
    Página de pruebas
{% endblock %}

{%block content%}
<h1 class="title">Página de mi web</h1>
<p>{{"Creado por mi juanesñ"|cut:"ñ"}}</p>
<p>
{{texto|default:'No hay texto'}}
</p>
<p>
{{lista|first}}
</p>
<p>
    {{lista|join:', '}}
</p>
<p>
    {{lista|random}}
</p>
<p>
    {{lista|length}}
</p>
<p>
    {{'texto prueba'|length}}
</p>
<p>
    {{'texto prueba'|upper}}
</p>
<p>
    {{"<h1>texto</h1> <strong>prueba</strong> hola <p>mundo</p>"|striptags|wordcount}}
</p>

{{"Juan Herrera"|saludo|safe}}

{% endblock%}

